body{
    background-color: rgb(236, 234, 234);
}

#Encabezado{
    text-align: center;
    background-color: orange;
}

#Encabezado2{
    text-align: center;
    background-color: rgb(253, 253, 253);
}

